<div class="container-fluid" appNoRightClick>
    <div class="row justify-content-md-center mt-x">
        <div class="text-center mb-3">
            <div class="common_headings"><b>Out Patient Basic Medical Record </b></div>
        </div>
    </div>
    <div class="row justify-content">
        <div class="col-lg-12">
         <form #clinicalForm="ngForm" autocomplete="off" (keydown.enter)="$event.preventDefault()">
            <div class="card mt-3">
                <div class="row mb-2 backsides">
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Patient ID</mat-label>
                        <input required [(ngModel)]="opModel.patientID" maxlength="150" name="Patient ID" matInput>
                    </mat-form-field>
                    
                </div>
                <div class="col-md-3">
                    <mat-form-field required appearance="outline">
                        <mat-label>Consent ID*</mat-label>
                        <input [(ngModel)]="opModel.consentID" 
                        maxlength="150" name="Consent ID" matInput
                        > </mat-form-field> 
                        
                </div>
                <div class="col-md-3">
                    <mat-form-field required appearance="outline">
                        <mat-label>Org Reg ID*</mat-label>
                        <input [(ngModel)]="opModel.orgId" 
                        maxlength="150" name="Org Reg ID" matInput
                       > </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field required appearance="outline">
                        <mat-label>Org Name*</mat-label>
                        <input [(ngModel)]="opModel.orgName" 
                        maxlength="150" name="Org Name" matInput
                       > </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field required appearance="outline">
                        <mat-label>MHP Reg ID*</mat-label>
                        <input [(ngModel)]="opModel.docId" 
                        maxlength="150" name="MHP Reg ID" matInput
                       > </mat-form-field>
                </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="row backsides">
                    <div class="col-lg-2">
                        <div class="common_label_head mb-1">
                            Purpose
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <mat-radio-group required [(ngModel)]="opModel.visitType" name="visitType">
                            <mat-radio-button *ngFor="let vis of Visit" class="md-primary"
                                ng-style="{'display':'inline'}" [value]="vis">
                                {{ vis }}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <h5 class="common_label_head mt-1">Clinical Profile</h5>
                <p class="common_text"> <b>Chief Complaints </b></p>
                <table>
                    <tbody>
                        <tr *ngFor="let comField of complaintArray; let i = index" class="noBorder row mb-2">
                            <td class="col-6 pr-0">
                                <input [(ngModel)]="comField.complaint" class="form-control" type="text"
                                    name="{{comField.complaint}}">
                            </td>
                            <td class="col-6">
                                <span class="d-inline-block w-1">
                                    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="comField.duration"
                                        class="form-control" type="text" name="{{comField.duration}}">
                                </span>
                                <span class="d-inline-block ml-2">
                                    <button matTooltip={{deleteFileMessage}} class="btns mids common_heading"
                                        type="button" (click)="deletecomplaintValue(i)">
                                        <mat-icon class="primary-icon">delete</mat-icon>
                                    </button>
                                </span>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <div class="row mb-2 backsides">
                    <div class="col-md-6">
                        <mat-form-field required appearance="outline">
                            <mat-label>Complaints*</mat-label>
                            <input [(ngModel)]="newComplaint.complaint" name="complaint"
                                (change)="addComplaints()" matInput placeholder="Complaints" maxlength="100">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Duration*</mat-label>
                            <input #duration="ngModel" 
                                [(ngModel)]="newComplaint.duration" (keyup)="manageDuration(duration)" name="duration" (change)="addComplaints()"
                                matInput placeholder="Ex- 1 week or 1 month" maxlength="50">
                        </mat-form-field>
                    </div>
                </div>
                
              
            </div>

            <div class="card mt-3">
                <h5 class="common_label_head">Diagnosis</h5>
                <div class="hscrolli">
                    <table class="tbl">
                        <tbody>
                            <tr class="noBorder row mb-2 medboxi1"
                                *ngFor="let diagnose of diagnosisArray; let i = index">
                                <td class="col-3 pr-0 w-2a">
                                    <div class="form-control">
                                        <mat-select [(ngModel)]="diagnose.diagnosisType"
                                            [ngModelOptions]="{standalone: true}"
                                            name="{{diagnose.diagnosisType}}">
                                            <mat-option *ngFor="let diagType of diagnosisTypes"
                                                [value]="diagType">
                                                {{ diagType }}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </td>
                                <td class="col-6 pr-0 w-2a">
                                    <input [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="diagnose.description" class="form-control" type="text"
                                        name="{{diagnose.description}}">
                                </td>
                                <td class="col-3 pl-1 w-2a">
                                    <span class="d-inline-block w-1">
                                        <input [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="diagnose.icdCode" class="form-control" type="text"
                                            name="{{diagnose.icdCode}}">
                                    </span>
                                    <span class="d-inline-block ml-2">
                                        <button matTooltip={{deleteFileMessage}}
                                            class="btns common_heading mids" type="button"
                                            (click)="deleteDiagnosisValue(i)">
                                            <mat-icon class="primary-icon">delete</mat-icon>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row mb-2 backsides">
                    <div class="col-md-3">
                        <button class="input_button" #menuTrigger="matMenuTrigger"
                            (focus)="opensMenu(menuTrigger)" [matMenuTriggerFor]="menu">{{toggleDiagnosisType}}
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item *ngFor="let diagType of diagnosisTypes"
                                (click)="addDiagnosisType(diagType)">{{diagType}}</button>
                        </mat-menu>

                      
                    </div>

                    <div class="col-md-6 pr-1">
                        <mat-form-field appearance="outline">
                            <mat-label>ICD Description</mat-label>
                            <input [(ngModel)]="newDiagnosis.description" [ngModelOptions]="{standalone: true}"
                                (focus)="toggleFocus()" 
                                (change)="addDiagnosis()" [matAutocomplete]="auto1" #description matInput
                                placeholder="Diagnosis Description" maxlength="300">
                        </mat-form-field>
                        <mat-autocomplete class="extended1" #auto1="matAutocomplete"
                            (optionSelected)="onSelectionChanged($event)">
                            <mat-option *ngFor="let option1 of icdDesc" [value]="option1">
                                {{option1.code}} - {{option1.description}}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                    <div class="col-md-3 pl-1">
                        <mat-form-field appearance="outline">
                            <mat-label>ICD 10 Code</mat-label>
                            <input [(ngModel)]="newDiagnosis.icdCode" [ngModelOptions]="{standalone: true}"
                                maxlength="8"  (change)="addDiagnosis()" #icd10
                                matInput placeholder="Ex- F12.3" [matAutocomplete]="auto">
                        </mat-form-field>
                        <mat-autocomplete class="extended" #auto="matAutocomplete"
                            (optionSelected)="onSelectionChanged($event)" maxlength="10">
                            <mat-option *ngFor="let option of icdCodes" [value]="option">
                                {{option.code}} - {{option.description}}
                            </mat-option>
                        </mat-autocomplete>
                    </div>

                </div>

            </div>

            <div class="card mt-3">
                <h5 class="common_label_head">Treatment Plan / Advised</h5>

                <div class="row backsides" >
                    <div class="col-lg-3">
                        <div class="paragraph_text_follow">
                            Improvement Status*
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <mat-radio-group required [(ngModel)]="opModel.improvementStatus" name="improveStatus">
                            <mat-radio-button *ngFor="let arr of improveArray" class="md-primary"
                                ng-style="{'display':'inline'}" [value]="arr">
                                {{ arr }}
                            </mat-radio-button>
                        </mat-radio-group>

                    </div>
                </div>

                <div class="hscrolli mt-2 mb-2">
                    <table class="tbl">
                        <tbody>
                            <tr class="noBorder mb-2 row medbox medboxi"
                                *ngFor="let presc of prescriptionArray; let i = index">
                                <td class="col-2 pr-0 w-2a">
                                    <input disabled [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="presc.medName" class="form-control inputextended"
                                        type="text" name="{{presc.medName}}">
                                

                                </td>
                                <td class="col-2 pr-0 pl-1 w-2b">
                                    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="presc.medDosage"
                                        class="form-control" type="text" name="{{presc.medDosage}}"
                                        [matAutocomplete]="auto4">
                                    <mat-autocomplete class="extended1" #auto4="matAutocomplete">
                                        <mat-option *ngFor="let dose of dosage" [value]="dose">
                                            {{dose}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </td>

                                <td class="col-2 pr-0 pl-1 w-2c">
                                    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="presc.medTime"
                                        class="form-control" type="text" name="{{presc.medTime}}">
                                </td>

                                <td class="col-1 pr-0 pl-1 w-2d">
                                    <input numbersOnly [ngModelOptions]="{standalone: true}" [min]="1"  
                                    pattern="^[1-9 a-zA-Z][0-9 a-zA-Z]*$" maxlength="3"
                                        [(ngModel)]="presc.medDuration1" class="form-control" type="text"
                                        name="{{presc.medDuration1}}" >

                                </td>
                                <td class="col-2 pr-0 pl-1 w-2e">
                                    <!-- <input  [ngModelOptions]="{standalone: true}" [(ngModel)]="presc.medDuration2" class="form-control" 
                                    type="text" name="{{presc.medDuration2}}"> -->
                                    <div class="form-control">
                                        <mat-select [(ngModel)]="presc.medDuration2"
                                            [ngModelOptions]="{standalone: true}" name="{{presc.medDuration2}}">
                                            <mat-option *ngFor="let duration of durationTypes" 
                                                [value]="duration">
                                                {{ duration }}
                                            </mat-option>
                                        </mat-select>
                                    </div>


                                </td>

                                <td class="col-2 pl-1 w-2f">
                                    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="presc.medRemarks"
                                        class="form-control" type="text" name="{{presc.medRemarks}}">
                                </td>
                                <td class="col-1 pl-1">
                                    <button matTooltip={{deleteFileMessage}} class="btns common_heading mid"
                                        type="button" (click)="deletePrescription(i)">
                                        <mat-icon class="primary-icon">delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row mb-2 backsides medbox">
                    <div class="col-md-2 pr-0">
                        <mat-form-field appearance="outline">
                            <mat-label>Medicine Name</mat-label>
                            <input class="inputextended" [(ngModel)]="newPrescription.medName" maxlength="100"
                                (change)="addPrescription()"  #medName
                                name="medName" [matAutocomplete]="auto3" matInput placeholder="Add medicine">
                        </mat-form-field>
                        <mat-autocomplete class="extended1" #auto3="matAutocomplete"
                            (optionSelected)="onSelectMedicine($event)">
                            <mat-option *ngFor="let drug of drugNames" [value]="drug">
                                {{drug.moleculeName | uppercase}}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                    <div class="col-md-2 pr-0 pl-1">
                        <mat-form-field appearance="outline">
                            <mat-label>Dosage</mat-label>
                            <input [(ngModel)]="newPrescription.medDosage" maxlength="15"
                                (change)="addPrescription()" #medDosage name="medDosage"
                                [matAutocomplete]="auto4" matInput placeholder="Add Dosage">
                        </mat-form-field>
                        <mat-autocomplete class="extended1" #auto4="matAutocomplete">
                            <mat-option *ngFor="let dose of dosage" [value]="dose">
                                {{dose}}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                    <div class="col-md-2 pr-0 pl-1">
                        <mat-form-field appearance="outline">
                            <mat-label>Dosing Time</mat-label>
                            <input [(ngModel)]="newPrescription.medTime" maxlength="50"
                                (change)="addPrescription()" name="medTime" matInput
                                placeholder="Ex: 1-0-1 or 1-1-1-1">
                        </mat-form-field>

                    </div>
                    <div class="col-md-1 pr-0 pl-1">
                        <mat-form-field appearance="outline">
                            <mat-label>Duration</mat-label>
                            <input numbersOnly #medDuration1="ngModel" (keyup)="manageDuration(medDuration1)"
                                [(ngModel)]="newPrescription.medDuration1" [min]="1"
                                pattern="^[1-9 a-zA-Z][0-9 a-zA-Z]*$" (focus)="toggleFocus()" maxlength="3"
                                (change)="addPrescription()" name="medDuration1" matInput
                                placeholder="Enter number">
                            <mat-error
                                *ngIf="medDuration1.invalid && (medDuration1.dirty || medDuration1.touched)">
                                {{invalidEntry}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2 pr-0 pl-1">
                        
                        <button class="input_button" #durationMenuTrigger="matMenuTrigger"
                            (focus)="opensMenu(durationMenuTrigger)"
                            [matMenuTriggerFor]="durationMenu">{{toggleDurationName}}
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                        <mat-menu #durationMenu="matMenu">
                            <button mat-menu-item *ngFor="let duration of durationTypes"
                                (click)="addDurationType(duration)">{{duration}}</button>
                        </mat-menu>
                    </div>
                    <div class="col-md-2 pl-1">
                        <mat-form-field appearance="outline">
                            <mat-label>Remarks</mat-label>
                            <input [(ngModel)]="newPrescription.medRemarks" (focus)="toggleFocus()"
                                maxlength="150" (change)="addPrescription()" name="medRemarks" matInput
                                placeholder="Remarks">
                        </mat-form-field>
                    </div>
                </div>

               


                <div class="row mt-2">
                    <div class="col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Treatment Instructions</mat-label>
                            <textarea required (keydown.enter)="$event.stopPropagation()" [(ngModel)]="opModel.treatmentInstructions"
                                maxlength="2000" name="addNote" rows="3" matInput placeholder="Additional Notes"
                                matAutosizeMinRows=1 matAutosizeMaxRows=5
                                onkeyup="this.value = this.value.replace(/[*<>{}^!$\\\]\[]/g, '')"></textarea>
                        </mat-form-field>

                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="paragraph_text_follow mb-2">
                            Follow Up Recommendations
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <mat-radio-group [(ngModel)]="opModel.category" name="category"
                            class="paragraph_text_radio collapsed_blocks">
                            <mat-radio-button class="example-radio-button" *ngFor="let season of seasons"
                                [value]="season">
                                {{season}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div class="row" *ngIf="opModel.category == 'FollowUp'">

                    <div class="col-lg-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Follow Up Date</mat-label>
                            <input required [min]="tomorrow" [(ngModel)]="opModel.followUpDate" name="followUp" matInput
                                [matDatepicker]="picker" placeholder="Follow Up Date" readonly>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      
                    </div>
                </div>
                
            </div>
            <div class="text-center" style="margin: 10px;">
                <a [routerLink]=""style="margin: 10px;" (click)="fetchFhirRequest()"><u>View Fhir Request</u></a>
                <button mat-raised-button class="btn-secondary mr-2" (click)="cancel()">Dashboard</button>
                <button type="submit" mat-raised-button class="btn-secondary mr-2"
                    [disabled]="!clinicalForm.valid || !comValid" (click)="save()">Save</button>
            </div>

            <div class="form-group" *ngIf="showFhirRequest">
                <mat-form-field  appearance="outline">
                    <mat-label><b>Fhir Request</b></mat-label>
                <textarea   [(ngModel)]="this.response"
                 name="textrequest" rows="3" matInput 
                matAutosizeMinRows=1 matAutosizeMaxRows=100000
                style="width:1000px; height: 300px;"
               ></textarea></mat-form-field>
            </div>
        </form>
   
   </div>
   </div>


</div>
           
           
           
           
           