<div class="container-fluid" appNoRightClick>
    <div class="row justify-content-md-center mt-x">
        <div class="text-center mb-3">
            <div class="common_headings"><b>IP Discharge Record </b></div>
        </div>
    </div>
    <div class="row justify-content">
        <div class="col-lg-12">
            <form #clinicalForm="ngForm" autocomplete="off" (keydown.enter)="$event.preventDefault()">
                <div class="card mt-3">
                    <div class="row mb-2 backsides">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Patient ID</mat-label>
                                <input required [(ngModel)]="ipDisModel.patientID" maxlength="150" name="Patient ID"
                                    matInput>
                            </mat-form-field>

                        </div>
                        <div class="col-md-3">
                            <mat-form-field required appearance="outline">
                                <mat-label>Consent ID*</mat-label>
                                <input [(ngModel)]="ipDisModel.consentID" maxlength="150" name="Consent ID" matInput>
                            </mat-form-field>

                        </div>
                        <div class="col-md-3">
                            <mat-form-field required appearance="outline">
                                <mat-label>Org Reg ID*</mat-label>
                                <input [(ngModel)]="ipDisModel.orgId" maxlength="150" name="Org Reg ID" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field required appearance="outline">
                                <mat-label>Org Name*</mat-label>
                                <input [(ngModel)]="ipDisModel.orgName" maxlength="150" name="Org Name" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field required appearance="outline">
                                <mat-label>MHP Reg ID*</mat-label>
                                <input [(ngModel)]="ipDisModel.docId" maxlength="150" name="MHP Reg ID" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="card mt-2">
                    <legend class="common_label_head">Discharge Details</legend>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Type of Discharge</mat-label>
                                <mat-select required [(ngModel)]="ipDisModel.dischargeType" name="dischargeType" placeholder="Select Diagnosis Type">
                                    <mat-option value="Discharge At Request">Discharge At Request</mat-option>
                                    <mat-option value="Regular Discharge">Regular Discharge</mat-option>
                                    <mat-option value="Discharge Against Medical Advice">Discharge Against Medical Advice</mat-option>
                                    <mat-option value="Abscond Case Entry">Abscond Case Entry</mat-option> 
                                        </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Condition At Discharge</mat-label>
                                <mat-select [(ngModel)]="ipDisModel.dischargeCondition" name="dischargeCondition" placeholder="Select Condition">
                                   <mat-option value="Same">Same</mat-option>
                                    <mat-option value="Improved">Improved</mat-option>
                                    <mat-option value="Remitted">Remitted</mat-option>
                                    <mat-option value="Worse">Worsened</mat-option>
                                    <mat-option value="Other">Other</mat-option> 
                                    </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Condition Description</mat-label>
                                <textarea (keydown.enter)="$event.stopPropagation()" [(ngModel)]="ipDisModel.conditionDescription" name="conditionDescription" matInput rows="3" matAutosizeMinRows="1" matAutosizeMaxRows="5" matTextareaAutosize placeholder="Condition Description" maxlength="2000" matInput onkeyup="this.value = this.value.replace(/[*<>{}^!$\\\]\[]/g, '')"></textarea>
    
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="card mt-3">
                    <h4 class="common_label_head">Treatment Advice at Discharge</h4>
                    <div class="hscrolli">
                        <table class="tbl">
                            <tbody>
                                <tr class="noBorder mb-2 row medbox medboxi"
                                    *ngFor="let presc of prescriptionArray; let i = index">
                                    <td class="col-2 pr-0 w-2a">
                                        <input disabled [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="presc.medName" class="form-control inputextended"
                                            type="text" name="{{presc.medName}}">
                                        <!-- <div class="form-control">
                                            <input class=" inputextended" [ngModelOptions]="{standalone: true}" [(ngModel)]="presc.medName" 
                                            type="text" (keyup)="getDrugDesc(medName)" #medName name="{{presc.medName}}" 
                                            [matAutocomplete]="auto3" matInput placeholder="Add medicine">
                                        <mat-autocomplete class="extended1" #auto3="matAutocomplete" >
                                            <mat-option *ngFor="let drug of drugNames" [value]="drug">
                                                {{drug.moleculeName | uppercase}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        </div> -->
    
                                    </td>
                                    <td class="col-2 pr-0 pl-1 w-2b">
                                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="presc.medDosage"
                                            class="form-control" type="text" name="{{presc.medDosage}}"
                                            [matAutocomplete]="auto4">
                                        <mat-autocomplete class="extended1" #auto4="matAutocomplete">
                                            <mat-option *ngFor="let dose of dosage" [value]="dose">
                                                {{dose}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </td>
    
                                    <td class="col-2 pr-0 pl-1 w-2c">
                                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="presc.medTime"
                                            class="form-control" type="text" name="{{presc.medTime}}">
                                    </td>
    
                                    <td class="col-1 pr-0 pl-1 w-2d">
                                            <input numbersOnly [ngModelOptions]="{standalone: true}" [min]="1"  
                                                pattern="^[1-9 a-zA-Z][0-9 a-zA-Z]*$" maxlength="3"
                                                    [(ngModel)]="presc.medDuration1" class="form-control" type="text"
                                                    name="{{presc.medDuration1}}" >
    
                                    </td>
                                    <td class="col-2 pr-0 pl-1 w-2e">
                                        <!-- <input  [ngModelOptions]="{standalone: true}" [(ngModel)]="presc.medDuration2" class="form-control" 
                                        type="text" name="{{presc.medDuration2}}"> -->
                                        <div class="form-control">
                                            <mat-select [(ngModel)]="presc.medDuration2"
                                                [ngModelOptions]="{standalone: true}" name="{{presc.medDuration2}}">
                                                <mat-option *ngFor="let duration of durationTypes"
                                                    [value]="duration">
                                                    {{ duration }}
                                                </mat-option>
                                            </mat-select>
                                        </div>
    
    
                                    </td>
    
                                    <td class="col-2 pl-1 w-2f">
                                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="presc.medRemarks"
                                            class="form-control" type="text" name="{{presc.medRemarks}}">
                                    </td>
                                    <td class="col-1 pl-1">
                                        <button matTooltip={{deleteFileMessage}} class="btns common_heading mid"
                                            type="button" (click)="deletePrescription(i)">
                                            <mat-icon class="primary-icon">delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
    
                    <div class="row mb-2 backsides medbox">
                        <div class="col-md-2 pr-0">
                            <mat-form-field appearance="outline">
                                <mat-label>Medicine Name</mat-label>
                                <input class="inputextended" [(ngModel)]="newPrescription.medName" maxlength="100"
                                    (change)="addPrescription()"  #medName
                                    name="medName" [matAutocomplete]="auto3" matInput placeholder="Add medicine">
                            </mat-form-field>
                            <mat-autocomplete class="extended1" #auto3="matAutocomplete"
                                (optionSelected)="onSelectMedicine($event)">
                                <mat-option *ngFor="let drug of drugNames" [value]="drug">
                                    {{drug.moleculeName | uppercase}}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                        <div class="col-md-2 pr-0 pl-1">
                            <mat-form-field appearance="outline">
                                <mat-label>Dosage</mat-label>
                                <input [(ngModel)]="newPrescription.medDosage" maxlength="15"
                                    (change)="addPrescription()" #medDosage name="medDosage"
                                    [matAutocomplete]="auto4" matInput placeholder="Add Dosage">
                            </mat-form-field>
                            <mat-autocomplete class="extended1" #auto4="matAutocomplete">
                                <mat-option *ngFor="let dose of dosage" [value]="dose">
                                    {{dose}}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                        <div class="col-md-2 pr-0 pl-1">
                            <mat-form-field appearance="outline">
                                <mat-label>Dosing Time</mat-label>
                                <input [(ngModel)]="newPrescription.medTime" maxlength="50"
                                    (change)="addPrescription()" name="medTime" matInput
                                    placeholder="Ex: 1-0-1 or 1-1-1-1">
                            </mat-form-field>
    
                        </div>
                        <div class="col-md-1 pr-0 pl-1">
                            <mat-form-field appearance="outline">
                                <mat-label>Duration</mat-label>
                                <input numbersOnly #medDuration1="ngModel" (keyup)="manageDuration(medDuration1)"
                                    [(ngModel)]="newPrescription.medDuration1" [min]="1"
                                    pattern="^[1-9 a-zA-Z][0-9 a-zA-Z]*$" (focus)="toggleFocus()" maxlength="3"
                                    (change)="addPrescription()" name="medDuration1" matInput
                                    placeholder="Enter number">
                                <mat-error
                                    *ngIf="medDuration1.invalid && (medDuration1.dirty || medDuration1.touched)">
                                    {{invalidEntry}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-2 pr-0 pl-1">
                            
                            <button class="input_button" #durationMenuTrigger="matMenuTrigger"
                                (focus)="opensMenu(durationMenuTrigger)"
                                [matMenuTriggerFor]="durationMenu">{{toggleDurationName}}
                                <mat-icon>keyboard_arrow_down</mat-icon>
                            </button>
                            <mat-menu #durationMenu="matMenu">
                                <button mat-menu-item *ngFor="let duration of durationTypes"
                                    (click)="addDurationType(duration)">{{duration}}</button>
                            </mat-menu>
                        </div>
                        <div class="col-md-2 pl-1">
                            <mat-form-field appearance="outline">
                                <mat-label>Remarks</mat-label>
                                <input [(ngModel)]="newPrescription.medRemarks" (focus)="toggleFocus()"
                                    maxlength="150" (change)="addPrescription()" name="medRemarks" matInput
                                    placeholder="Remarks">
                            </mat-form-field>
                        </div>
                    </div>
    
    
                    
    
    
                    <div class="row">
                        <div class="col-md-7">
                            <mat-form-field appearance="outline" class="text_area">
                                <mat-label>Follow Up Recommendation</mat-label>
                                <textarea (keydown.enter)="$event.stopPropagation()" [(ngModel)]="ipDisModel.treatmentAdvice" name="treatmentAdvice" maxlength="2000" matTextareaAutosize rows="3" matAutosizeMinRows=1 matAutosizeMaxRows=5 matInput placeholder="FollowUp Recommendation" onkeyup="this.value = this.value.replace(/[*<>{}^!$\\\]\[]/g, '')"></textarea>
                            </mat-form-field>
                        </div>
    
                        <div class="col-md-5">
                            <mat-form-field appearance="outline">
                                <mat-label>Follow Up Date</mat-label>
                                <input [min]="tomorrow" [(ngModel)]="ipDisModel.followUp" (focus)="picker.open()" name="followUp" matInput [matDatepicker]="picker" placeholder="Follow Up Date" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
    
                    </div>
    
    
    
                </div>
    
                <div class="card mt-3">
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Name of Doctor</mat-label>
                                <input [(ngModel)]="ipDisModel.docName" name="docName" matInput placeholder="Enter Name" maxlength="75">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Designation</mat-label>
                                <input [(ngModel)]="ipDisModel.designation" name="designation" matInput placeholder="Enter Designation" maxlength="100">
                            </mat-form-field>
                        </div>
    
                    </div>
                </div>
    
                <div class="card mt-3">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Discharge Date</mat-label>
                                <input [min]="admitDate" [max]="today" [(ngModel)]="ipDisModel.disDate" (focus)="picker1.open()" (ngModelChange)="mergeDischargeDate()" required name="disDate" matInput [matDatepicker]="picker1" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Discharge Time</mat-label>
                                <input required type="time" [(ngModel)]="ipDisModel.disTime1" name="disTime1" (change)="mergeDischargeDate()" matInput />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="text-danger f-12">{{validDisDate}} <span *ngIf="validDisDate" class="common_text"> Admission Date/Time:  {{admitDate | date: 'dd/MM/yyyy, h:mm a'}}</span></div>


                

                

              
                
                
                
                <div class="text-center" style="margin: 10px;">
                    <a [routerLink]=""style="margin: 10px;" (click)="fetchFhirRequest()"><u>View Fhir Request</u></a>
               
                    <button mat-raised-button class="btn-secondary mr-2" (click)="cancel()">Dashboard</button>
                    <button type="submit" mat-raised-button class="btn-secondary mr-2"
                        [disabled]="!clinicalForm.valid" (click)="save()">Save</button>
                </div>

                <div class="form-group" *ngIf="showFhirRequest">
                    <mat-form-field  appearance="outline">
                        <mat-label><b>Fhir Request</b></mat-label>
                    <textarea   [(ngModel)]="this.response"
                     name="textrequest" rows="3" matInput 
                    matAutosizeMinRows=1 matAutosizeMaxRows=100000
                    style="width:1000px; height: 300px;"
                   ></textarea></mat-form-field>
                </div>
            </form>
        </div>
    </div>
</div>