<div class="container">
    <h2 class="common_heading f-24 text-center"><b>e-Manas Karnataka (Mental Healthcare Management System)</b> </h2>
    <div class="card mt-4 mb-4 p-4">
        <div class="row">
            <div class="col-12">
                <h5 class="text-center common_label_head"><b>Glance over e-Manas Karnataka</b> </h5>
                <div class="text-center common_text">
                    e-Manas Karnataka (Mental Healthcare Management System) is an internet-based Karnataka state-wide digital registry of mental health establishments (MHEs), mental health professionals (MHPs), people with mental illnesses (PwMIs) and their treatment records.
                    This platform helps establishments and professionals ensure compliance with Mental Healthcare Act 2017. This platform is being developed as a National Health Mission initiative under Karnataka Government, in collaboration with NIMHANS
                    and E-Health Research Center of IIIT Bangalore.
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-12">
                <h5 class="common_label_head"><b>e-Manas Karnataka Modules</b></h5>
                <ol style="color: #242424">
                    <li>Mental Health Directory Portal</li>
                    <li>Mental Healthcare Authority and Mental Health Review Board (MHA/MHRB) Portal</li>
                    <li>Clinical Module</li>
                    <li>Patient Portal</li>
                </ol>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <h5 class="common_label_head"><b>e-Manas Karnataka Processes</b></h5>
                <div class="text-center mt-3">
                    <div style="display: inline-block">
                        <img src="assets/mhms_process.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <h5 class="common_label_head"><b>e-Manas Karnataka Modules</b></h5>
                <div class="text-center mt-3">
                    <div style="display: inline-block">
                        <img src="assets/Group_modules.png">
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>